.formss-signup {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: light black;
    background-color:gray;
    margin-top: 20px;
  }
  
  .formss-signup label {
    display: block;
    margin-bottom: 8px;
  }
  
  .formss-signup input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  
  .formss-signup input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    
  }

  .formss-signup input[type="radio"] {
    margin-right: 8px;
  }